body{
  font-family: roboto;
  background-color: black;
  margin: 0px 0px 0px 0px;
}
h1{
  color: white;
}
h5{
  color: white;
}
P{
  color: white;
}
.navbar{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  opacity: 1;
  display: flex;
  align-items: top;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.50);
  padding-top: 5px;
}
.event1{
  position: relative;
  justify-content: ;
  display:flex;
  
  
}
.menu{
  margin-top: 4px;
  margin-left: 12px;
  height: 24px;
  width: 24px;
  padding-top: -500px;
  align-items: top;
}
.logo{
  height: 20px;
  width: 20px;
  margin-top: 4px;
}
.chat{
  height: 26px;
  width: 26px;
  margin-right: 12px;
  margin-top: 4px;
}
.image1{
  margin-top: 43px;
  width: 100%;
  height: auto;
  opacity:0.4;
  background: rgb(0,0,0,50);
}
.event_date{
  background-color: none;
  color: white;
  position: absolute;
  bottom: 190px;
  left: 10px;
  font-weight: bold;
  font-family: roboto;
}
.event_title{
  color: white;
  background-color: none;
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-weight: 600;
  font-size: 60px;
  font-family: roboto;
  display: flex;
}
.overview{
  Color: red;
  Font-size: 30px;
  font-weight: 700;
  Margin-left: 10px;
  Margin-top: 20px;
  margin-bottom: 10px;
}
.info{
  color: white;
  Margin-top: 4px;
  Margin-left: 8px;
  margin-right: 8px;
  Font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}
.sb{
  Margin-top:-30px;
  Font-size:18px;
  Justify-content:space-around;
}
.id{
  display: flex;
  width: 100%;
  height: auto;
}
.ticket{
  color: black;
  background-color: white;
  border: none;
  Display:flex;
  position: sticky;
  bottom: 1px;
  padding: 15px 120px;
  Border-radius:10px;
  Margin-left:30px;
  Font-size:20px;
  font-weight: 800;
  
}
.te{
  height: auto;
  width: 100%;
}
.gay1{
  height: auto;
  width: 100%;
  border-color: solid;
  display: flex;
  Opacity:0.5;
}
.scroller{
  max-width: 390px;
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 1rem;
  overflow-x: auto;
  white-space: nowrap;
}
.scroller::-webkit-scrollbar{
  display: none;
}
.scroller_item{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  
}
.scroller_item img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50px;
  border-style: solid;
  border-color: linear-gradient(red,blue,yellow);
}
.scroller_item::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate (-50% -50%);
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  background-image:linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#6902be 75%, #bc1888 100%);
  border-radius: inherit;
  z-index: -1;
  
}
